// ResponsiveMultiplier
$RM: 1;

// genaral footer
$text-footer-color: #fff;
// $bg-001: #f5f5f5;
$bg-001: rgb(245, 245, 245);
$bg-002: rgb(235, 235, 235);
$bg-footer-color: #333;
$bg-navbar-color: #333333;
$bg-new-color-1: #1e1e2f;

// listMeal && addFood page
$genaral-text-color-1: #fff;
$genaral-text-color-2: #3a3a3a;
$genaral-text-color-2-hover: rgba(58, 58, 58, 0.8);
$genaral-text-color-3: #757575;
$bg-color-1: #765e5e;
$bg-color-2: #3f3f3f;
$bg-color-3: #3c824d;
$bg-color-4: #3c4782;



$color-palette-1: #ffbc6c;
