.index-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.index-submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-self: center;
}
